.w-100{
    border: 1px solid;
    width: 120rem!important;
    height: 25rem;
}

.carousel-caption {
    padding-bottom: 6%;
}

.carousel-caption h3 {
    font-size: 75px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 45px;
    color: #21ddfb;
}

#footer{
    position: relative;
}